NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=

GROQ_API_KEY=
GEMINI_API_KEY=

RESEND_API_KEY=
EMAIL_FROM=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

NEXT_PUBLIC_MAP_PROVIDER=leaflet
NEXT_PUBLIC_MAPTILER_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

VERCEL_TOKEN=
VERCEL_TEAM_ID=
GITHUB_TOKEN=
